html * {
  max-height: 9999999px;
}

body{
  margin:0;
  padding: 0;
  background: url(../images/background.png);
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  color: #193347;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  position: relative;
  height: 100%;
}

.main-container {
  margin-left: 170px;
  margin-right: 120px;
  margin-top: 175px;
}

.small-icon-wrap {
    position: absolute;
    width: 80%;
}

@media only screen and (max-width: 700px) {
  .small-icon-wrap{
    display: none;
  }
}

.price-icon {
  display: block;
  max-width: 40px;
  position: absolute;
}

.price-icon:nth-child(1) {
  max-width: 65px;
  left: 935px;
  top: -147px;
}

.price-icon:nth-child(2) {
  max-width: 20px;
  left: 55px;
  top: -13px;
}

.price-icon:nth-child(3) {
  max-width: 53px;
  left: -30px;
  top: -138px;
}

.price-icon:nth-child(4) {
  max-width: 17px;
  left: 545px;
  top: -42px;
}

.price-icon:nth-child(5) {
  max-width: 35px;
  left: 550px;
  top: -137px;
}

.pricing-body{
  margin-top: 95px;
}

.card-img{
  width: 200px;
}

.card-deck{
  margin-right: 10px !important;
}

.card.pricing-card{
  border: none;
  background-color: transparent;
}

.pricing-card:hover{
  cursor: pointer;
  transform: scale(1.1);
  border-radius: 10px;
  background-color: white;
}

.top{
  height: 100px;
}

.middle{
  height: 150px;
  margin-bottom: 45px;
}

.bottom{
  height: 150px;
  text-align: right;
}

.enterprise-bottom{
  height: 120px;
  font-size: 18px;
}

.pricing-card .card-footer{
  background-color: #e6f0f5 !important;
  border: none !important;
  visibility: hidden;
}

.pricing-card:hover .card-footer{
  visibility: visible;
}

.emp-no{
  display: flex;
  justify-content: center;
}

.emp-no-text{
  margin-left: 5px;
  color: #7a9bad;
}

.employee{
  margin-top: -20px;
  color: #7a9bad;
}

.start{
  margin-bottom: -40px;
}

.dollar-sign{
  color: #193448;
  font-size: 34px;
}

.dollar{
  color: #183447;
  font-size: 75px;
  font-weight: 700;
  letter-spacing: -6px;
}

.month{
  color: #1a3549;
  font-weight: 600;
  margin-top:-22px;
}

h1 {
  color: #daebf4;
  font-size: 170px;
  line-height: 1;
  font-weight: 900;
}

h2 {
  color: #daebf4;
  font-size: 125px;
  line-height: 1;
  font-weight: 900;
}

h3{
  color: #7095a8;
  font-size: 50px;
  line-height: 1;
  font-weight: 900;
}

h3.enterprice{
  color:#a6b02b;
  font-size:36px;
  font-weight:900;
}

h4 {
  color: #daebf4;
  font-size: 68px;
  line-height: 1;
  font-weight: 700;
  margin-top:-30px;
  letter-spacing: -1px;
}

.btn-light{
  position: relative;
  border:none;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
  text-shadow: 0 3px 5px rgba(33,62,83,0.2);
  color: #fff;
  letter-spacing: -0.4px;
  text-align: center;
  cursor: pointer;
  transition: .3s ease;
  line-height: 1.2;
  border-radius: 8px;
  box-shadow: 0 15px 25px rgba(25,51,71,0.1), inset 0 -4px 0 rgba(0,0,0,0.1);
}

.btn-light:hover{
  color:white;
}

.btn-1,.btn-2,.btn-3,.btn-4{
  font-weight:700;
  width: 100%;
  padding:15px 25px;
}

.btn-1{
  background-color: #97c6e0;
}

.btn-1:hover{
  background-color: #8fbcd4;
}

.btn-2{
  background-color: #7095a8;
}

.btn-2:hover{
  background-color: #688b9c;
}

.btn-3{
  background-color: #4a6270;
}

.btn-3:hover{
  background-color: #425864;
}

.btn-4{
  background-color: #273238;
}

.btn-4:hover{
  background-color: #1e272c;
}

.btn-5{
  background-color: #d2de40;
  font-weight:700;
  width: 90%;
  padding:15px 25px;
}

.btn-5:hover{
  background-color: #c2ce3b;;
}

.card-footer{
  font-size:18px;
  line-height: 1;
}

small{
  font-weight: 300;
}

.footer-dollar{
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.content-only{
  font-weight: 600;
}

/* Feature Section */


.feature-title{
  margin: 135px 125px 75px 168px;
  padding: 0;
}

.feature-subtitle{
  margin-left: 8px;
}

.feature-para{
  text-align: right;
  font-size:26px;
  font-weight: 300;
  margin-top: -8px;
}

.card.feature-card{
  padding:5px;
  border:none;
  background-color: white;
  box-shadow: 0 4px 20px rgba(202, 233, 243, 0.664);
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.feature-card-heading{
  color:#173347;
  font-size: 26px;
  font-weight:600;
}


.feature-card-text{
  line-height: 1.2;
  font-size: 17px;
  font-weight: 300;
}

.row.feature-row{
  margin-bottom: 30px;
  margin-left: 20px;
}

.feature-body .card-body{
  height:160px;
  margin:0px 10px;
}

.img-square-wrapper.aligncenter {
  align-self: center;
}

.feature-card-image{
  width: 120px;
  height: 80px;
}

.solutions{
  margin-top: 185px ;
  margin-left:18%;
}

.solutions-body{
  display: flex;
  flex-direction: row;
  margin-top:-30px;
}

.h2-2{
  margin-top:-25px;
}

.solutions-body-left{
  text-align: right;
}

.q-sign{
  font-size:250px;
}

.q-text{
  font-size: 26px;
  margin-top:10px;
  margin-left:150px;
  font-weight: 300;
}

.info-btn{
  margin-top: 15px;
  margin-left:-300px;
  background-color: #d2de40;
  font-weight: 700;
  padding:17px 30px;
}


/* FAQ COLLAPSE/EXPAND STYLES */

.questions{
  margin-top: 80px;
  min-width: 200px;;
}

.faq{
  margin-top: 100px;
}

.faq h1{
  margin-left:50px;
}

.faq-body{
  margin-left:45px;
}

.faq-heading{
  margin-top:15px;
}

.faqanswer {
	display: none;
  padding: 8px 20px 0 30px;	
  height: auto;
}

.faqanswer p {
	font-size: 18px;
  margin: 0px 0px 20px 65px;
  padding: 0;
  font-weight: 300;
}

.faq-body a{
  margin-left:-5pc;
}

.faq-body a:hover{
  text-decoration: none;
  color: #193347;
}

.togglefaq {
	text-decoration: none;
  color: #193347;
	font-size: 18px;
	padding: 3px 30px;
	display: block;
  margin-bottom: -1px;
  font-weight:600;
}

.icon{
  width:120px;
}

.ques-icon{
  height: 45px;
  width: 45px;
  display: block;
  background-image: url(../images/svg/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  float:left;
  margin-right: 100px;
  background-color: white;
  border-radius: 50%;
}


.icon-up {
  margin-left:-10px;
  margin-right: 95px;
  height: 60px;
  width: 60px;
  background-image: url(../images/svg/arrow1-green.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30%;
  float:left;
  background-color: white;
  border-radius: 50%;
}

p {
  margin: 0;
  padding-bottom: 20px;
}


/* contact */
.container{
  margin-top:150px;
}

.col-4 {
  max-width: 40%;
}

.col-5 {
  max-width: 60% !important;
  flex: 0 0 60%;
}

.trial-btn{
  background-color: #d2de40;
  font-weight: 700;
  padding:17px 30px;
  font-size: 26px;
  margin-top: 20px;
}

.trial-btn:hover, .info-btn:hover{
  background-color: #c2ce3b;
}

.contacts-title {
  font-size: 35px;
  font-weight: 400;
  line-height: 1;
}

.contacts-title span{
  font-size: 50px;
  font-weight: 700;
}

.contacts-title a{
  font-weight: 700;
  color:  #193347;
  text-decoration: none;
}

.contacts-subtitle {
  font-size: 25px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 40px;
}

.contacts-btn-wrap {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.contacts-text {
  font-size: 30px;
  font-weight: 400;
  margin-right: 18px;
}

.contacts-btn{
  display: inline;
}

.contacts-helmet {
  display: block;
  margin-top: 50px;
  margin-left: 60px;
  max-width: 100%;
}

.contacts-image-wrap {
  position: relative;
}


.contact-icon {
  display: block;
  max-width: 40px;
  position: absolute;
}

.contact-icon:nth-child(1) {
  max-width: 72px;
  left: 400px;
  top: -350px;
}
.contact-icon:nth-child(2) {
  max-width: 36px;
  left: -53px;
  bottom: 56px;
}
.contact-icon:nth-child(3) {
  max-width: 60px;
  left: -7px;
  bottom: -25px;
}
.contact-icon:nth-child(4) {
  max-width: 12px;
  left: -81px;
  bottom: 23px;
}
.contact-icon:nth-child(5) {
  max-width: 32px;
  left: 360px;
  top: -270px;
}


/* Footer */

.footer {
  position: relative;
  padding: 200px 0 45px;
}

.footer-logo-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.footer-logo {
  margin-right: 33px;
}

.footer-logo img{
  display: block;
  max-width: 160px;
  height: auto;
}

.footer-nav {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.footer-nav a{
  color: #193347;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  margin-right: 20px;
  text-decoration: none;
}

.footer-copyright {
  opacity: 0.5  ;
  color: #193347;
  font-size: 18px;
}

/* @include media_1200 {

  &__nav {
    flex-wrap: wrap;
  }

  &__link {
    margin-bottom: 15px;
  }
}

@include media_900 {
  padding-top: 85px;

  &__logo-wrap {
    display: block;
    margin-bottom: 20px;
  }

  &__logo {
    margin-right: 0;
    margin-bottom: 15px;
  }

  &__copyright {
    font-size: 14px;
  }

  &__link {
    font-size: 16px;
  } */


.row {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 700px) {
  .row {
    display: block;
  }
}


.lift-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  z-index: 80 ;
  width: 60px;
  height: 60px;
  box-shadow: 0 0 35px rgba(177, 192, 201, 0.75);
  background-color: white;
  transform: translateY(120%);
  transition:  0.5s ease;;
}

._active {
  transform: translateY(0);
}
  
.lift-up:after {
  content: "";
  display: block;
  width: 22px;
  height: 16px;
  background-image: url(../images/svg/arrow.svg);
  transform: scale(1, -1);
  background-repeat: no-repeat;
  background-size: contain;
}
  
  
.lift-up:hover:before{
  transform: translate(-50%, -70%) rotate(-90deg);
}