html,body{
  background: url(../images/background.png);
  background-color:#dae6ed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  color: #193347;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.gradient{
  margin: 0; 
  color: #000;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(45deg, #eaf3f7, #c6e1f1);
  background-image: -o-linear-gradient(45deg, #eaf3f7, #cbe1ef);
  -webkit-background-clip: text;
  padding-bottom:15px;
}

.main-container {
  margin: 12% 7% auto 12%;
}

.small-icon-wrap {
    position: absolute;
    width: 60%;
}

h1 {
  color: #cbe1ef;
  font-size: 170px;
  line-height: 1;
  font-weight: 900;
}

h2 {
  font-size: 125px;
  line-height: 1;
  font-weight: 900;
}

h3{
  color: #7095a8;
  font-size: 50px;
  line-height: 1;
  font-weight: 900;
}

h3.enterprise{
  color:#a6b02b;
  font-size:36px;
  font-weight:900;
}

h4 {
  color: #cbe1ee;
  font-size: 68px;
  line-height: 1;
  font-weight: 700;
  margin-top:-30px;
  letter-spacing: -1px;
}


/********************
    Price Section 
*********************/


.price-icon {
  display: block;
  max-width: 40px;
  position: absolute;
}

.price-icon:nth-child(1) {
  max-width: 65px;
  left: 935px;
  top: -152px;
}

.price-icon:nth-child(2) {
  max-width: 20px;
  left: 55px;
  top: -18px;
}

.price-icon:nth-child(3) {
  max-width: 53px;
  left: -30px;
  top: -143px;
}

.price-icon:nth-child(4) {
  max-width: 17px;
  left: 545px;
  top: -47px;
}

.price-icon:nth-child(5) {
  max-width: 35px;
  left: 550px;
  top: -142px;
}

.pricing-body{
  margin: 7% auto 0% auto;
  width: 98%; 
}

.card-body{
  display: flex;
  flex-direction: column;
}

.card.pricing-card{
  border: none;
  background-color: transparent;
  margin: 0;
}

.pricing-card .top{
  margin-top: 1%;
}

.pricing-card:hover{
  cursor: pointer;
  border-radius: 1px;
  background-color: #ffffff;
  box-shadow: 0 0px 30px #eef5f9;
}

.pricing-card:hover img{
  transform: scale(1.1);
  transition: .4s ease-in;
}

.top{
  height: 100px;
}

.middle{
  height: 150px;
  margin-bottom: 23px;
}

.enterprise-middle{
  height: 150px;
  margin-bottom: 13px;
}

.bottom{
  height: 155px;
  text-align: right;
  align-self: center;
}

.enterprise-bottom{
  font-size: 18px;
  height: 135px;
  display: flex;
  margin-bottom: 5px;
  align-self: center;
}

.enterprise-bottom .card-text{
  align-self: center;
}


.pricing-card .card-footer{
  background-image: linear-gradient( #dfeaf0,#eef2f5);
  border: none !important;
  visibility: hidden;
  opacity: 0.8;
}

.pricing-card:hover .card-footer{
  visibility: visible;
}

.emp-no{
  display: flex;
  justify-content: center;
}

.emp-no-text{
  margin-left: 5px;
  color: #7a9bad;
}

.employee{
  margin-top: -20px;
  color: #7a9bad;
}

.start{
  margin-bottom: -10%;
}

.dollar-sign{
  color: #193448;
  font-size: 34px;
}

.dollar{
  color: #183447;
  font-size: 75px;
  font-weight: 700;
}

.month{
  color: #1a3549;
  font-weight: 600;
  margin-top:-22px;
}

.btn-light{
  position: relative;
  border:none;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
  text-shadow: 0 3px 5px rgba(33,62,83,0.2);
  color: #fff;
  letter-spacing: -0.4px;
  text-align: center;
  cursor: pointer;
  transition: .3s ease;
  line-height: 1.2;
  font-size: 20px;
  border-radius: 6px;
  box-shadow: 0 15px 25px rgba(25,51,71,0.1), inset 0 -4px 0 rgba(0,0,0,0.1);
}

.btn-light:hover{
  color:white;
}

.btn-1,.btn-2,.btn-3,.btn-4{
  font-weight:700;
  padding:16px 30px;
  box-shadow: 0 15px 25px rgba(25,51,71,0.1), inset 0 -4px 0 rgba(0,0,0,0.2);
  align-self: center;
}

.btn-1{
  background-color: #97c6e0;
}

.btn-1:hover{
  background-color: #8fbcd4;
}

.btn.btn-light.btn-1:active{
  background-color: #8fbcd4;
  color: white;
}

.btn-2{
  background-color: #7095a8;
}

.btn-2:hover{
  background-color: #688b9c;
}

.btn.btn-light.btn-2:active{
  background-color: #688b9c;
  color: white;
}

.btn-3{
  background-color: #4a6270;
}

.btn-3:hover{
  background-color: #425864;
}

.btn.btn-light.btn-3:active{
  background-color: #425864;
  color: white;
}

.btn-4{
  background-color: #273238;
}

.btn-4:hover{
  background-color: #1e272c;
}

.btn.btn-light.btn-4:active{
  background-color: #1e272c;
  color: white;
}

.btn-5{
  background-color: #d2de40;
  font-weight:700;
  padding: 15px 30px 20px 30px;
  align-self: center;
}

.btn-5 p{
  margin-bottom: -1px;
}

.btn-5:hover{
  background-color: #c2ce3b;
}

.btn.btn-light.btn-5:active{
  background-color: #c2ce3b;
  color: white;
}

.card-footer{
  font-size:18px;
  opacity: 0.5;
  text-align: center;
  padding: 10px 12px 20px 12px;
  color: #000;
  font-weight: 300;
}

.card-footer p{
  margin-bottom: -8px;
}

.footer-dollar{
  font-size: 26px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.content-only, .safety-soft{
  font-weight: 600;
}


/********************
  Feature Section
*********************/


.feature-title{
  margin: 100px auto 90px auto;
  padding: 0;
  width: 1096px;
}

.feature-subtitle{
  margin-left: 8px;
}

.feature-para{
  text-align: right;
  font-size:26px;
  font-weight: 300;
  margin-top: -8px;
}

.feature-body{
  margin-top: 8%;
}

.card.feature-card{
  border:none;
  background-color: white;
  box-shadow: 0 4px 20px rgba(202, 233, 243, 0.664);
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
  margin-left: 20px;
}


.feature-card-heading{
  color:#173347;
  font-size: 26px;
  font-weight:600;
}

.card-body{
  align-self: center;
}

.feature-card-text{
  font-size: 16px;
  font-weight: 300;
}

.card.feature-card{
  margin-bottom: 20px;
  min-height: 180px;
}

.img-square-wrapper.aligncenter {
  align-self: center;
}

.feature-card-image{
  width: 120px;
  height: 80px;
}

p.card-text.feature-card-text{
  margin-bottom: -1px;
}

.feature-icon {
  display: block;
  max-width: 40px;
  position: absolute;
}

.feature-icon:nth-child(1) {
  max-width: 100px;
  left: 350px;
  bottom: -65px;
}

.feature-icon:nth-child(2) {
  max-width: 20px;
  left: 78px;
  bottom: 240px;
}

.feature-icon:nth-child(3) {
  max-width: 12px;
  left: 815px;
  bottom: 200px;
}

.feature-icon:nth-child(4) {
  max-width: 60px;
  left: 730px;
  bottom: 240px;
}

.feature-icon:nth-child(5) {
  max-width: 20px;
  left: 300px;
  bottom: -20px;
}


/********************
    More Solutions 
*********************/


.solutions{
  width: 905px;
  margin: 185px auto auto auto;
}

.solutions-body{
  display: flex;
  flex-direction: row;
  width: 1096px;
  margin: -30px auto 0 auto;
}

.h2-2{
  margin-top:-32px;
  color: #000;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(45deg, #c6e1f1, #eaf3f7);
  background-image: -o-linear-gradient(45deg,#cbe1ef, #eaf3f7);
  -webkit-background-clip: text;
}

.h1-faq{
  color: #000;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(45deg, #cde2f0, #ddecf5);
  background-image: -o-linear-gradient(45deg,#cde2f0, #ddecf5);
  -webkit-background-clip: text;
}

.solutions-body-left{
  text-align: right;
}

.q-sign{
  font-size:250px;
  color: #000;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient( #daebf3, #e8f3f6);
  background-image: -o-linear-gradient( #daebf3, #e8f3f6);
  -webkit-background-clip: text;
}

.q-text{
  font-size: 26px;
  margin-top:10px;
  font-weight: 300;
  display: block;
  text-align: center; 
}

.get-price-btn  {
  width: 260px;
  margin: 0px auto 0px auto;
  display: block;
}

.info-btn{
  margin-top: 15px;
  background-color: #d2de40;
  font-weight: 700;
  padding:17px 30px;
}

.solution-icon {
  display: block;
  max-width: 40px;
  position: absolute;
}

.solution-icon:nth-child(1) {
  max-width: 62px;
  left: 785px;
  bottom: 255px;
}

.solution-icon:nth-child(2) {
  max-width: 15px;
  left: -60px;
  bottom: 180px;
}

.solution-icon:nth-child(3) {
  max-width: 12px;
  left: 870px;
  bottom: 330px;
}

.solution-icon:nth-child(4) {
  max-width: 40px;
  left: -40px;
  bottom: 200px;
}

.solution-icon:nth-child(5) {
  max-width: 18px;
  left: 135px;
  bottom: 100px;
}


/********************************
    FAQ COLLAPSE/EXPAND STYLES
*********************************/


.questions{
  margin-top: 80px;
  min-width: 200px;;
}

.faq{
  margin-top: 16%;
  margin-left:1%;
}

.faq h1{
  margin-left:50px;
}

.faq-body{
  margin-left:45px;
}

.faq-heading{
  margin-top:15px;
}

.faqanswer {
    display: none;
  padding: 8px 20px 0 30px; 
  height: auto;
}

.faqanswer p {
    font-size: 18px;
  margin: 0px 50px 20px 65px;
  padding: 0;
  font-weight: 300;
}

.faq-body a{
  margin-left:-5pc;
}

.faq-body a:hover{
  text-decoration: none;
  color: #193347;
}

.togglefaq {
    text-decoration: none;
  color: #193347;
    font-size: 18px;
    padding: 3px 30px;
    display: block;
  margin-bottom: -1px;
  font-weight:600;
}

.icon{
  width:120px;
}

.ques-icon{
  height: 45px;
  width: 45px;
  display: block;
  background-image: url(../images/svg/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  float:left;
  margin-right: 100px;
  background-color: white;
  border-radius: 50%;
}


.icon-up {
  margin-left:-10px;
  margin-right: 95px;
  height: 60px;
  width: 60px;
  background-image: url(../images/svg/arrow1-green.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30%;
  float:left;
  background-color: white;
  border-radius: 50%;
}

.faq-icon {
  display: block;
  max-width: 40px;
  position: absolute;
}

.faq-icon:nth-child(1) {
  max-width: 62px;
  left: 485px;
  bottom: -60px;
}

.faq-icon:nth-child(2) {
  max-width: 15px;
  left: -15px;
  bottom: 140px;
}

.faq-icon:nth-child(3) {
  max-width: 12px;
  left: 550px;
  bottom: 10px;
}

.faq-icon:nth-child(4) {
  max-width: 40px;
  left: 0px;
  bottom: 160px;
}

/********************
     Contact
*********************/

.container{
  margin-top:130px;
  margin-left:140px;
}

.col-4 {
  max-width: 40%;
}

.col-5 {
  max-width: 60% !important;
  flex: 0 0 60%;
}

.trial-btn{
  background-color: #d2de40;
  font-weight: 700;
  padding:17px 30px;
  font-size: 26px;
  margin-top: 20px;
}

.trial-btn:hover, .info-btn:hover{
  background-color: #c2ce3b;
}

.btn.btn-light.info-btn:active, .btn.btn-light.trial-btn:active{
  background-color: #c2ce3b;
  color: white;
}

.contacts-title {
  font-size: 35px;
  font-weight: 400;
  line-height: 1;
}

.contacts-title span{
  font-size: 50px;
  font-weight: 700;
}

.contacts-title a{
  font-weight: 700;
  color:  #193347;
  text-decoration: none;
}

.contacts-subtitle {
  font-size: 25px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 40px;
}

.contacts-btn-wrap {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.contacts-text {
  font-size: 30px;
  font-weight: 400;
  margin-right: 18px;
}

.contacts-btn{
  display: inline;
}

.contacts-helmet {
  display: block;
  margin-top: 50px;
  margin-left: 60px;
  max-width: 120%;
}

.contacts-image-wrap {
  position: relative;
}

.contact-icon {
  display: block;
  max-width: 40px;
  position: absolute;
}

.contact-icon:nth-child(1) {
  max-width: 72px;
  left: 400px;
  top: -425px;
}

.contact-icon:nth-child(2) {
  max-width: 28px;
  left: -53px;
  bottom: 56px;
}

.contact-icon:nth-child(3) {
  max-width: 60px;
  left: -7px;
  bottom: -25px;
}

.contact-icon:nth-child(4) {
  max-width: 12px;
  left: -81px;
  bottom: 23px;
}

.contact-icon:nth-child(5) {
  max-width: 32px;
  left: 360px;
  top: -350px;
}

/**************
    Footer 
***************/

.footer {
  position: relative;
  padding: 200px 0 20px;
}

.footer-logo-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

.footer-logo {
  margin-right: 33px;
}

.footer-logo img{
  display: block;
  max-width: 160px;
  height: auto;
}

.footer-nav {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.footer-nav a{
  color: #193347;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  margin-right: 20px;
  text-decoration: none;
}

.footer-copyright {
  opacity: 0.5  ;
  color: #193347;
  font-size: 18px;
}


.row {
  display: flex;
  align-items: center;
}


/********************
    Lift Up  
*********************/

.lift-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  z-index: 80 ;
  width: 60px;
  height: 60px;
  box-shadow: 0 0 35px rgba(177, 192, 201, 0.75);
  background-color: white;
  transform: translateY(120%);
  transition:  0.5s ease;;
}

._active {
  transform: translateY(0);
}
  
.lift-up:after {
  content: "";
  display: block;
  width: 22px;
  height: 16px;
  background-image: url(../images/svg/arrow.svg);
  transform: scale(1, -1);
  background-repeat: no-repeat;
  background-size: contain;
}

  
.lift-up:hover::before{
  transform: translate(-50%, -70%) rotate(-90deg);
}



/**************************
        Media Query
***************************/


/* @media only screen and (max-width: 600px) {
  h1 {
    font-size: 130px;
    font-weight: 900;
  }
  
  h2 {
    font-size: 95px;
    font-weight: 900;
  }
  
  h3{
    font-size: 40px;
    font-weight: 900;
  }
  
  h3.enterprise{
    font-size:36px;
    font-weight:900;
  }
  
  h4 {
    font-size: 48px;
    line-height: 1;
    font-weight: 700;
  }
}  */

/* @media only screen and (min-width: 700px) {
  .card.pricing-card, .col-sm-6{
    flex: 0 0 50%;
    max-width: 50%;
  }
} 

@media only screen and (min-width: 569px) {
  .card.pricing-card, .col-sm-6{
    flex: 0 0 100%;
    max-width: 100%;
  }
}  */

@media only screen and (max-width: 1399px) {

  .dollar{
    font-size: 55px;
    font-weight: 600;
  }

  .middle{
    height: 130px;
  }
  
  .enterprise-middle{
    height: 132px;
  }

  .bottom{
    height: 130px;
  }

  .card-footer{
    font-size:16px;
  }
  
  .card-footer p{
    margin-bottom: 0px;
  }
  
  .footer-dollar{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -1px;
  }

  .content-only, .safety-soft{
    font-weight: 500;
  }

  /* feature */

  .feature-title{
    margin: 80px auto 90px auto;
  }

  .solutions{
    padding-bottom: 100px;
  }

  .card.feature-card{
    margin-bottom: 20px;
    min-height: 230px;
  }
  
  .faq{
    margin-top: 10%;
  }

  .col-5 {
    max-width: 65% !important;
    flex: 1 0 65%;
  }

  .contacts-subtitle {
    font-size: 24px;
    font-weight: 400;
  }

  .container{
    margin-top:150px;
    margin-left :80px;
  }

  .contacts-helmet {
    max-width: 90%;
  }

  .contact-icon:nth-child(1) {
    max-width: 62px;
    left: 260px;
  }

  .contact-icon:nth-child(5) {
    max-width: 32px;
    left: 260px;
  }

  .footer {
    padding: 200px 0 80px;
  }
}

@media only screen and (max-width: 1200px) {
  .contacts-title {
    font-size: 30px;
  }
  
  .contact span {
    font-size: 35px;
  }
  
  .contact-subtitle {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1000px)  {
  .contacts-title {
    font-size: 26px;
  }
  
  .contact span {
    font-size: 30px;
  }

  .contact-subtitle {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

/* @media only screen and (max-width: 600px)  {
  .contacts {
    padding: 30px 0;
  }
  .contact .row {
    display: flex;
    flex-direction: column-reverse;
  }

  .contact-helmet {
    max-width: 300px;
    height: auto;
    margin: 20px auto;
  }
} */

/* @media only screen and (max-width: 400px)  {
  .contacts-helmet {
    max-width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .row {
    display: block;
  }
}

@media only screen and (max-width: 1200px) {

  .footer-nav {
    flex-wrap: wrap;
  }

  .footer-link {
    margin-bottom: 15px;
  }
} */

/* @media only screen and (max-width: 600px) {

  .footer-logo-wrap {
    display: block;
    margin-bottom: 20px;
  }

  .footer-logo {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .footer-copyright {
    font-size: 14px;
  }

  .footer-link {
    font-size: 20px;
  }
} */